.home{
  
    width: 60%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.logo{

 background-color: #1E2328;
 border: 2px solid white;
 border-radius: 80px;
 padding: 0px 80px 0px 80px;
 margin: 2% auto;
}
.form{
    width: 100%;
   
    text-align: center;
}
.acertou{
    padding-top: 1em;
}
html {
    scroll-behavior: smooth;
}