.bloco{
text-align: center;
width:58%;
margin: 0 auto;
background-color: #1E2328;
padding: 2%;
border: 2px solid white;
border-radius: 40px;
margin-bottom: 2%;
}
.bloco p{
    color: #979797;
    text-align: justify;
    font-size: 17.6px;
}
.correct{
    width: 100%;
    background-color: #1B4831;
}