.ContainerRes{
    display: flex;

    align-items: center;
    
    justify-content: center;
}

@media (max-width:450px){
    .ContainerRes{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: inline-block;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
        background-color: #1E2328;
        border: 2px solid white;
    }
   
}