.tutorial{
    text-align: center;
    width:100%;
    margin: 0 auto;
    padding-bottom: 2%;
    z-index: 3;
}

.btn{
    padding: 1% 5%;
    background-color: #1E2328;
    font-size: 20px;
    border-radius: 80px;
    color: #D0D0D0;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #D0D0D0;
    cursor: pointer;
}
.btn:hover{
    border: 2px solid white;
    color: white;
}