.tutorial{
    text-align: center;
    
    margin-left: 2%;
    
    z-index: 1;
}

.btn{
    padding: 0.3em 1em;
    background-color: #1E2328;
    font-size: 20px;
    border-radius: 80px;
    color: #D0D0D0;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #D0D0D0;
    cursor: pointer;
}
.btn:hover{
    border: 2px solid white;
    color: white;
}